{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "adminlte2_templates/static/adminlte2/libs/**"
  ],
  "rules": {
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "indentation": 4,
    "no-descending-specificity": null,
  }
}
