<!DOCTYPE html>
<html {% block html_attribute %}lang="{% block html_lang %}{{ ADMINLTE_HTML_LANG }}{% endblock html_lang %}"{% endblock html_attribute %}>
<head>
    {% block meta %}
        {% include 'adminlte2/components/_meta.html' %}
    {% endblock meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block stylesheets %}
        {% include 'adminlte2/components/_stylesheets.html' %}
    {% endblock stylesheets %}

    {% if ADMINLTE_USE_SHIM %}
        {% include 'adminlte2/components/_shim.html' %}
    {% endif %}

    {% block javascripts %}
        {% include 'adminlte2/components/_javascripts.html' %}
    {% endblock javascripts %}
</head>
<body {% block body_attribute %}class="{% block body_class %}hold-transition {{ ADMINLTE_SKIN_STYLE }}{% endblock body_class %}" {% endblock body_attribute %}>
    {% block body %}
        <div class="wrapper">
            {% block header_template %}
                {% include 'adminlte2/components/header.html' %}
            {% endblock header_template %}

            {% block sidebar_template %}
                {% include 'adminlte2/components/sidebar.html' %}
            {% endblock sidebar_template %}

            {% block content_template %}
                <div class="content-wrapper">

                    <div class="container">

                        {% block content_header %}
                            <section class="content-header">
                                <h1>
                                    {% block page_title %}{% endblock page_title %}
                                    <small>{% block page_description %}{% endblock page_description %}</small>
                                </h1>
                                <ol class="breadcrumb">
                                    {% block breadcrumbs %}{% endblock breadcrumbs %}
                                </ol>
                            </section>
                        {% endblock content_header %}

                        {% block content_body %}
                            <section class="content">
                                {% block messages_template %}
                                    {% include 'adminlte2/components/messages.html' %}
                                {% endblock messages_template %}

                                {% block content %}
                                {% endblock content %}
                            </section>
                        {% endblock content_body %}
                    </div>
                </div>
            {% endblock content_template %}

            {% block control_sidebar %}
                {% include 'adminlte2/components/control.html' %}
            {% endblock control_sidebar %}

            {% block footer_template %}
                {% include 'adminlte2/components/footer.html' %}
            {% endblock footer_template %}
        </div>
    {% endblock body %}

    {% block javascripts_body %}
    {% endblock javascripts_body %}
</body>
</html>
