{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% load adminlte2_tags %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte2_admin/css/forms.css' %}">
{% endblock stylesheets %}

{% block breadcrumbs %}
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li>{% trans 'Password reset confirmation' %}</li>
{% endblock %}

{% block content %}
    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{
            % csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-password1 form-group">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1|add_class:'form-control' }}
                </div>
                <div class="form-row field-password2 form-group">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    {{ form.new_password2|add_class:'form-control' }}
                </div>
                <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}">
            </fieldset>
        </form>

    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
