{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% load adminlte2_tags %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'adminlte2_admin/css/forms.css' %}">
{% endblock stylesheets %}

{% block breadcrumbs %}
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li>{% trans 'Password reset' %}</li>
{% endblock %}

{% block content %}
    <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email form-group">
                {{ form.email.errors }}
                <label for="id_email">{% trans 'Email address:' %}</label>
                {{ form.email|add_class:'form-control' }}
            </div>
            <input type="submit" value="{% trans 'Reset my password' %}">
        </fieldset>
    </form>
{% endblock %}
