{% extends 'adminlte2/base.html' %}

{% load adminlte2_tags %}

{% block title %}Login{% endblock title %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
<div class="login-box">

    {% block login_logo %}
        <div class="login-logo">
            <a href="{% block login_logo_href %}/{% endblock login_logo_href %}">
                {% block login_logo_text %}
                    <b>Admin</b>LTE
                {% endblock login_logo_text %}
            </a>
        </div>
    {% endblock login_logo %}

    {% block login_content %}
        <div class="login-box-body">

            <p class="login-box-msg">
                {% block login_description %}
                    Sign in to start your session
                {% endblock login_description %}
            </p>

            {% block login_form %}
                <form method="POST">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="text-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {{ field.label_tag }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            {{ field|add_class:'form-control' }}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-default" type="reset">Clear</button>
                </form>
            {% endblock login_form %}

            <div class="social-auth-links text-center">
                {% block login_social_auth %}
                {% endblock login_social_auth %}
            </div>

            {% block login_links %}
            {% endblock login_links %}
        </div>
    {% endblock login_content %}
</div>
{% endblock body %}
