{% extends 'adminlte2/layouts/collapsed_sidebar.html' %}

{% load adminlte2_tags %}

{% block title %}{% page_title 'Collapsed Sidebar Layout' %}{% endblock title %}

{% block javascripts %}
    {{ block.super }}
    {% include 'demo/demo_script.html' %}
{% endblock javascripts %}

{% block stylesheets %}
    {{ block.super }}
    {% include 'demo/demo_style.html' %}
{% endblock stylesheets %}

{% block page_title %}Collapsed Sidebar Layout{% endblock page_title %}

{% block page_description %}AdminLTE 2 template for <i>collapsed sidebar</i> layout option{% endblock page_description %}

{% block breadcrumbs %}
    <li><a href="{% url 'layouts:index' %}">Layouts</a></li>
    <li><a href="{% url 'layouts:collapsed' %}">Collapsed Sidebar</a></li>
{% endblock breadcrumbs %}

{% block content %}
    {% include 'layouts/_common_content.html' %}
{% endblock content %}
