{% extends 'adminlte2/layouts/top_navigation.html' %}

{% load static adminlte2_tags %}

{% block title %}{% page_title 'Top Navigation Layout' %}{% endblock title %}

{% block page_title %}Top Navigation Layout{% endblock page_title %}

{% block page_description %}AdminLTE 2 template for <i>top navigation</i> layout option{% endblock page_description %}

{% block breadcrumbs %}
    <li><a href="{% url 'layouts:index' %}">Layouts</a></li>
    <li><a href="{% url 'layouts:top_nav' %}">Top Navigation</a></li>
{% endblock breadcrumbs %}

{% block content %}
    {% include 'layouts/_common_content.html' %}
{% endblock content %}
