/*
    Break and wrap long sidebar item texts onto the next line
*/
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: normal;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
